div {
    border: 1px solid black;
    margin-top: 100px;
    margin-bottom: 100px;
    margin-right: 150px;
    margin-left: 80px;
    background-color: lightblue;
}

div.class1 {
    width:300px;
    margin: auto;
    border: 1px solid red;
}