body {
    background-color: powderblue;
}
h1 {
    color: blue;
}
p {
    color: red;
    border: 1px solid powderblue;
    padding: 30px;
    margin: 50px;
}
/* 
Access to the id using #
*/
#p01 {
    color : blue
}
/* 
Access to the class using . name 
*/
p.error {
    color: red;
}

a:link {
    color: green; 
    background-color: transparent; 
    text-decoration: none;
}

a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
}

a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
}

a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
}

/*
CSS Fonts
The CSS color property defines the text color to be used.

The CSS font-family property defines the font to be used.

The CSS font-size property defines the text size to be used.

CSS Border
The CSS border property defines a border around an HTML element:

CSS Padding
The CSS padding property defines a padding (space) between the text and the border:

CSS Margin
The CSS margin property defines a margin (space) outside the border:
*/