body, html{

    /*
        Set height to 100% for body and html to enable the background image to 
        cover the wwhole page:

    */
    height: 100%;
    /*
    set margin and padding to zero
    */
    margin: 0;
    padding: 0;
}

.bgimg{
    /* Bacground image*/
    background: url(../image/BGF.jpg);
    /* Full -screen */
    height: 100%;
    /* Center the background image */
    background-position: center;
    /* Scale and Zoon in the image */
    background-size: cover;
    /* Add position relative to enable absolulety positioned elemnts inside the
    image {place text} */
    position: relative;
    /* Add a white text color to all elemnts inside the .bging container */
    color: black;
    /* Add a front */
    font-family: Arial, Helvetica, sans-serif;

}
/*Position text in the middle*/
.middle {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
h1 {

}