body, html{

    /*
        Set height to 100% for body and html to enable the background image to 
        cover the wwhole page:

    */
    height: 100%;
    /*
    set margin and padding to zero
    */
    margin: 0;
    padding: 0;
}

.bgimg{
    /* Bacground image*/
    background: url(../image/BGF.jpg);
    /* Full -screen */
    height: 100%;
    /* Center the background image */
    background-position: center;
    /* Scale and Zoon in the image */
    background-size: cover;
    /* Add position relative to enable absolulety positioned elemnts inside the
    image {place text} */
    position: relative;
    /* Add a white text color to all elemnts inside the .bging container */
    color: blue;
    /* Add a front */
    font-family: Arial, Helvetica, sans-serif;

}
/*Position text in the middle*/
.middle {
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}
h1 {
    /* Set font size for h1 elemnts */
    font-size: 40px;
    /* Add spacing between letter*/
    letter-spacing: 30px;
    /* Set how thick or thin character in text should be displayed */
    font-weight: 100;
}

#demo {
    /*
        Sets how thick or thin character in text should be displayed
    */
    font-weight:  lighter;
    

    /* Add spacing between words*/
    word-spacing:  20px;
}

hr{
    /* Set margin to auto align it center */
    margin: auto;
    /* Set the width */
    width: 80%;
    /*Add border around hr - width type Color */
    border:1.5px solid #fff;
}